.about-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  background-color: #ffffff;
}

.about-left {
  flex: 2;
  display: flex;
  align-items: center;
}

.about-left img {
  max-height: 200px;
}

.about-right {
  flex: 3;
  background-color: #fff;
  padding: 30px;
}

/* About Page */
.about-us {
  width: 40%;
}

.about-us p {
  padding: 3px;
  letter-spacing: 1px;
}
/* About Page */

@media (max-width: 768.5px) {
  .about-us {
    width: 100%;
    padding: 30px;
  }
}

@media (max-width: 434px) {
  .about-left {
    flex: 100%;
    margin-top: 20px;
  }
}
