/* Top Header */
.active-header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1000;
  transition: 0.5s;
}
.top-header {
  /* background-color: #ed1c23; */
  background: linear-gradient(
    111.9deg,
    rgb(221, 49, 49) 0.3%,
    rgb(0, 8, 119) 100.7%
  );
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
}

.top-left {
  display: flex;
  align-items: center;
}

.left-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.left-item .top-icon {
  color: #ffffff;
  font-weight: 100;
  font-size: 18px;
  margin-right: 5px;
}

.left-item .h4 {
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 0.5px;
  color: #ffffff;
  margin: 0 auto;
}

.top-btn {
  background-color: #2e3092;
  padding: 3px 10px;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 100;
  transition: 0.7s linear;
}

.top-btn:hover {
  background-color: #ed1c23;
}

/* Navbar */
#navbar {
  transition: all 0.3s ease;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.logo {
  width: 130px;
  height: 70px;
  cursor: pointer;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-menu {
  display: none;
  align-items: center;
  cursor: pointer;
}

.menu-icon {
  font-size: 24px;
  color: gray;
}

.header-items {
  display: flex;
}

.header-item {
  margin: 0 10px;
}

.header-item .h5 {
  font-size: 14px;
  font-weight: 600;
  color: gray;
  text-transform: uppercase;
  cursor: pointer;
  display: inline; /* Changed to inline */
}

.mobile-header {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100vh;
  width: 60%;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  overflow-y: hidden;
}

/* Media Query for small devices */
@media (max-width: 768px) {
  .header-left {
    flex: 1;
  }

  .top-hide {
    display: none;
  }

  .header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    background-color: #2e3092;
  }

  .header-items {
    display: none;
  }

  .header-item {
    margin: 5px 0;
  }

  .header-item .h5 {
    display: flex; /* Display as flex for vertical alignment */
    justify-content: flex-start;
  }
}
